[submodule "obfuscate_string/tree-sitter-c"]
	path = obfuscate_string/tree-sitter-c
	url = git@github.com:tree-sitter/tree-sitter-c.git
[submodule "covert_c2"]
	path = covert_c2
	url = git@github.com:hattmo/covert_c2.git
[submodule "covert_c2_ping"]
	path = covert_c2_ping
	url = git@github.com:hattmo/covert_c2_ping.git
[submodule "pwntools"]
	path = pwntools
	url = git@github.com:hattmo/pwntools.git
