.new_agent_form {
    place-content: center;
    display: grid;
    width: max-content;
    grid-template-columns: max-content 1fr;
    gap: 4px;
    padding: 4px;

}

.new_agent_submit {
    grid-column: span 2;
    place-self: center;
    width: 80%;
}


.agent_list {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content;
    width: fit-content;
    background-color: black;
    gap: 2px;
    padding: 2px;
}
.agent_list * {
    padding: 2px;
    background-color: gray;
}

.clickable {
    cursor: pointer;
}

.background {
    position: fixed;
    border: 1px black;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: grid;
    place-items: center;
}

.modal {
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}