.console {
  display: grid;
  grid-template-areas: 'title' 'flight' 'password' 'button';
}

.consoleTitle {
  grid-area: title;
  font-family: 'Times New Roman', Times, serif;
  font-size: 80px;
  text-align: center;
}

.consoleFlight {
  justify-self: center;
  height: 50px;
  grid-area: flight;
  margin: 25px;
  margin-bottom: 5px;
  font-size: 40px;
  text-align: center;
  border-style: none;
  border-bottom-style: solid;
  border-color: black;
  border-width: 7px;
  transition-property: border;
  transition-duration: 0.5s;
  width: 120px;
}

.consolePassword {
  justify-self: center;
  height: 50px;
  grid-area: password;
  margin-bottom: 25px;
  font-size: 40px;
  text-align: center;
  border-style: none;
  border-bottom-style: solid;
  border-color: black;
  border-width: 7px;
  transition-property: border;
  transition-duration: 0.5s;
  width: 200px;
}

.consoleBad:focus {
  border-color: red;
}

.consoleGood {
  border-color: green;
}

.consoleButton {
  grid-area: button;
  cursor: pointer;
  border-radius: 25px;
  padding: 7px;
  box-shadow: inset 0 0 5px #000000;
  background-color: lightblue;
  text-align: center;
  justify-self: center;
  width: 150px;
  font-size: 30px;
  transition-property: opacity;
  transition-duration: 1s;
}

.visibleButton {
  opacity: 1;
  visibility: visible;
}

.invisibleButton {
  opacity: 0;
  visibility: hidden;
}
