.failmodal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -250px;
  width: 500px;
  height: 360px;
}

.failoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(rgb(255, 0, 0, 1), rgb(255, 0, 0, 0.4))
}

.failblock {
  display: grid;
  grid-template-areas: 'text' 'button';
}

.failtitle {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;
  grid-area: text;
}
