.prebrief {
  display: grid;
  grid-template-areas: 'video video video' 'back play start';
  justify-items: stretch;
}

.prebriefVideo {
  justify-self: center;
  width: 80%;
  grid-area: video;
}

.prebriefButtons {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;
  background: lightblue;
  margin: 5px;
  border: 2px;
  border: solid;
  cursor: pointer;
  width: 300px;
  justify-self: center;
  border-radius: 25px;
  padding: 2px;
  box-shadow: inset 0 0 5px #000000;
}

.back {
  grid-area: back
}

.play {
  grid-area: play
}

.begin {
  grid-area: start
}
